body {
    background-color:rgb(21, 40, 117);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style: normal;
}

h1 {
    color: rgb(196, 16, 16);
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    font-style: normal;
    margin-top: .5em;
    margin-bottom: .5em;
}

h2 {
    color: rgb(177, 39, 39);
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    font-style: italic;
    margin-top: .5em;
    margin-bottom: .5em;
}

h3 {
    color: rgb(182, 71, 71);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    font-style: normal;
    margin-top: .5em;
    margin-bottom: .5em;
}

h4 {
    color: rgb(221, 101, 101);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    font-style: normal;
    margin-top: .5em;
    margin-bottom: .5em;
}

h5 {
    color: rgb(201, 129, 129);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    font-style: normal;
    margin-top: .5em;
    margin-bottom: .5em;
}

h6 {
    color: rgb(146, 94, 94);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    font-style: normal;
    margin-top: .5em;
    margin-bottom: .5em;
}

p {
    font-size: small;
    font-style: normal;
    color: #0c0b00;
}
